{%extends 'auctions/layout.html'%}
{%block body%}
<form>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="title">Title:</label>
			<input type="text" class="form-control" id="title">
		</div>
	</div>
	<div class="form-group col-md-6">
		<label for="price">Price:</label>
		<input type="number" step='0.01' min=0 class="form-control" id="price" >
	</div>
	<div class="form-group">
		<label for="URL">Image URL:</label>
		<input type="text" class="form-control" id="URL" placeholder="Input Image URL">
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<input type="text" class="form-control" id="description" placeholder="Input Item Description">
	</div>
	<div class="form-group">
		<label for="category">Category:</label>
		<select name='category' class="form-control">
			<option>Fashion</option>
			<option>Gadgets</option>
			<option>Shoes</option>
			<option>Clothes</option>
			<option>Food/Medications</option> 
			<option>Art</option>
			<option>Skincare/Makeup</option>
		</select>
	</div>
<button type="submit" class="btn btn-primary">Create Listing</button>
</form>
<!--<form action="{%url 'product'%}" method='POST'>
	{%csrf_token%}
	<label for='title'>Title:</label>
	<input type="text" name="title" placeholder="Input title">

	<br>
	<label for='img'>Image:</label>
	<input type="text" name="img" placeholder="Input image URL">
	<br>
	<label for='price'>Price:</label>
	<input type="number" step='0.01' min=0 name=price>
	<br>
	<label for="description">Product Description:</label>
	<input type="text" name="description" placeholder="Input Description">

	
	<label for="category">Category:</label>
	<select name='category'>
		<option>Fashion</option>
		<option>Gadgets</option>
		<option>Shoes</option>
		<option>Clothes</option>
		<option>Food/Medications</option> 
		<option>Art</option>
		<option>Skincare/Makeup</option>
	</select>
<input type='submit' value='Create Listing'>

	 </form>-->
{%endblock%}