{% extends 'journey/layout.html'%}

{%block body%}

<h1>Trip {{flight.id}}</h1>
<ul>
	<li>From:{{flight.origin}}</li>
	<li>To:{{flight.destination}}</li>
	<li>Time:{{flight.duration}}</li>
</ul>

<h1>Passengers</h1>

<ul>
{%for i in passengers%}
	<li>{{i}}</li>
	{%empty%}
	<li>No passengers<li>
{%endfor%}
</ul>
<h1> ADD PASSENGERS</h1>
<form action='{%url "journey:book" flight.id %}' method='POST'>
	{%csrf_token%}
<select name='passengers'>
	{% for i in non_passengers%}
	<option value='{{i.id}}'>{{i}}</option>
	{%endfor %}
</select>
<br>
<input type='submit' value='Submit'>
	</form>
<a href='{% url "journey:index" %}'>Back to home page</a>

{%endblock%}